.App {
  text-align: center;
}

.box {
  width: 200px;
  height: 200px;
  border: solid 5px #ccc;
}
.icon1,
.icon2 {
  display: round;
  width: 30px;
  height: 15px;
  background: black;
  margin-right: 10px;
  margin-top: -10px;
  float: left;
}
