.App {
  text-align: center;
}

.move_logo_of_whatsapp {
  margin-left: 20px;
  pointer-events: none;
}

.move_camera_icon {
  margin-top: 9px;
  margin-left: 10px;
}

.move_top_nav_icons_down {
  margin-top: 3px;
}

.width_of_dropdown {
  width: 300px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.move_message_icon_in_chat_menu {
  margin-right: 10px;
  margin-top: 470px;
  /* I will have to adjust the top after inserting the grid on top */
}

.move_contact_icon_abit_up {
  margin-top: -45px;
}

.make_archive_bold {
  font-weight: bold;
}

.profile_pictures {
  width: 50px;
  height: 50px;
}
