.App {
  text-align: center;
}

.move_logo_of_whatsapp {
  margin-left: 20px;
  pointer-events: none;
}

.move_camera_icon {
  margin-top: 9px;
  margin-left: 10px;
}

.move_top_nav_icons_down {
  margin-top: 3px;
}

.width_of_dropdown {
  width: 300px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.move_message_icon_in_chat_menu {
  margin-right: 10px;
  margin-top: 50px;
  /* I will have to adjust the top after inserting the grid on top */
}

.move_contact_icon_abit_up {
  margin-top: -50px;
}

.make_archive_bold {
  font-weight: bold;
}

.profile_pictures {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 5px;
}

.decrease_height {
  margin-top: -20px;
  width: 280px;
  margin-left: 80px;
}

.increase_height_status {
  margin-top: 1.5px;
  height: 20px;
  width: 100%;
}

.my_profile_picture_status {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid lightgreen;
  margin-top: 5px;
}

.move_recent_updates {
  text-align: left;
  margin-top: -1px;
  margin-left: 10px;
}
.chat_menu_text {
  text-align: left;
}

.contact_menu_messages {
  font-size: 14px;
  margin-top: 0px;
  color: gray;
}

.contact_name_cm {
  font-weight: bold;
  font-size: 14px;
}

.cm_time {
  margin-top: 13px;
  font-weight: bold;
  font-size: 10px;
  color: gray;
}
